doctype html
html
  head
    title= `office blanketz B^)`
    link(rel='stylesheet', href='/styles/bundle.min.css')
    //link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    include ../partials/flashes
    block header
      
    .content
      block content

    block scripts
      script(src="/scripts/bundle.min.js")
        
